# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
credentials/
node_modules/
__pycache__/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
config.py

bert-base-uncased
corpus*
